# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# Mac
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Model files (optional)
*.pkl
*.h5
*.joblib